/*Reset de estilos e importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*configuração padrão da pagina do site, ele aplica a tudo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos gerais da pagina*/
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*classe do menu*/
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    flex: 1;
}

/*classe da logo (cor da barra do menu e da letra e o tamanho da letra )*/
.site-header {
    background-color: #242424;
    color: #fff;
    padding: 10px 0;
}

/*classe da logo (determina as posições dos botões e logo) */
.header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/*classe da logo (determina o tamanho do botão da nuvem)*/
.logo-container {
    display: flex;
    align-items: center;
}

/*classe da logo determina o tamanho da imagem da nuvem */
.logotipo {
    height: 50px;
}

/*classe da logo (faz com que o botão mude de cor quando passa o mouse em cima)*/
.logotipo:hover{
    border-radius: 5px;
    padding: 1px ;
}

/*classe menu ()*/
.site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*classe menu (faz com que o menu fique na horizontal)*/
.site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/*classe menu (espaçamento entre os botões)*/
.site-nav ul li {
    margin: 0 10px;
}

/*classe menu (estilização do botão)*/
.site-nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    background-color: #2c2c2c;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/*classe menu (faz com que o botão mude de cor ao passar o mouse)*/
.site-nav ul li a:hover {
    background-color: #1e1e1e;
}

/*classe imagem de fundo (imagem de fundo da tela de inicio e as configurações dela)*/
.hero {
    background-image: url('/img/fundo\ desfocado.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 200px 0;
    text-align: left;
    background-repeat: no-repeat;
}

/*classe imagem de fundo (formatação do texto central "titulo")*/
.hero-title {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 20px; /* Adiciona uma leve distância da borda */
}

/*classe imagem de fundo (formatação do texto central "subtitulo")*/
.hero-subtitle {
    font-size: 1.5rem;
    margin-left: 20px; /* Adiciona uma leve distância da borda */
}

/*classe cards (orientação do texto (titulo e subtitulo))*/
.services {
    padding: 60px 0;
    text-align: center;
}

/*classe cards (tamnho da fonte (titulo e subtitulo))*/
.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/*classe cards (define um padrão para todas as tags p dentro do service)*/
.services p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 40px;
}

/*classe cards (determina o tamnho e padrão dos cards)*/
.service-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

/*classe cards (define as configurações do texto dentro do card)*/
.service-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/*classe cards (faz o card trocar de cor ao passa o mouse em cima do card)*/
.service-card:hover{
    background-color: #000;
    color:white
}

/*classe cards (faz com que as litras do paragrafo troca de cor ao passa o mouse em cima)*/
.service-card:hover p{
    background-color: #000;
    color:rgb(192, 192, 192)
}

/*classe cards (define o tamanho da letra do titulo do card e sua posição*/
.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
     
}

/*classe cards (determina o tamnho da letra e a cor na tag p)*/
.service-card p {
    font-size: 1rem;
    color: #666;
}

.container_fundoDois{
    padding: 5px 0px;
}

.container_fundo{
    background-color: #2c2c2c;
    display: flex;
    position: relative;
    padding: 10px 10px 10px 10px;
    margin: 0px 434px 10px 440px;
    border-radius: 10px;
}

.fundo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto;
}

.fundoDois{
    height: auto;
    width: 400px;
    padding: 10px 10px;
    border-radius: 20px;
}

.fundoDois_texto{
    padding: 10px 30px 10px 30px;
    width: 573px;
    height: auto;
}

.fundoDois_titulo{  
    color: #fff;
    text-align: justify;
}

.fundoDois_subtitulo{
    color: #fff;
    text-align: justify;
    padding: 15px 0 0 0;
}

/*Footer*/
.site-footer {
    background-color: #242424;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsividade para Monitores Grandes (>=1200px) */

@media (max-width: 1200px) {
    .container_fundo {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        margin: 10px 20px;
    }

    .fundo {
        flex-direction: column;
    }

    .fundoDois {
        width: 100%;
        max-width: 600px; /* Ajuste o valor conforme necessário */
    }

    .fundoDois_texto {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .header-inner {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        order: -1; /* Move a logo para cima do menu */
        margin-bottom: 10px;
    }

    .site-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .site-nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    .site-nav ul li {
        margin: 0 5px;
    }

    .site-nav ul li a {
        padding: 8px 12px;
        font-size: 16px; /* Ajuste o valor conforme necessário */
    }

    .hero {
        background-size: cover;
        background-position: center;
        padding: 100px 0;
    }

    .hero-title {
        font-size: 2.5rem; /* Ajuste o valor conforme necessário */
        margin-bottom: 10px;
    }

    .hero-subtitle {
        font-size: 1.25rem; /* Ajuste o valor conforme necessário */
    }
}



/* Responsividade para Laptops (>=992px) */
@media (max-width: 992px) {
    .container_fundo {
        padding: 10px 50px;
        margin: 0px 20px 10px 20px;
    }
    
    .fundoDois_texto {
        width: 100%;
        padding: 10px 20px;
        text-align: center;
    }

    .fundoDois {
        width: 100%;
        max-width: 400px;
    }
}

/* Responsividade para Tablets (>=768px) */
@media (max-width: 768px) {
    .container_fundo {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        margin: 10px 20px;
    }

    .fundo {
        flex-direction: column;
    }

    .fundoDois {
        width: 100%;
        max-width: 300px;
    }

    .fundoDois_texto {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .header-inner {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        order: -1; /* Move a logo para cima do menu */
        margin-bottom: 10px;
    }

    .site-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .site-nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    .site-nav ul li {
        margin: 0 5px;
    }

    .site-nav ul li a {
        padding: 8px 12px;
        font-size: 14px;
    }

    .hero {
        background-size: cover;
        background-position: center;
        padding: 100px 0;
    }

    .hero-title {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .hero-subtitle {
        font-size: 1rem;
    }
}

/* Responsividade para Dispositivos Móveis (>=480px) */
@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }

    .hero {
        padding: 80px 0;
    }

    .hero-title {
        font-size: 1.5rem;
    }
    .services h2{
        font-size: 25px;
    }

    .hero-subtitle {
        font-size: 0.875rem;
    }

    .service-card {
        padding: 15px;
    }

    .service-card h3 {
        font-size: 1.25rem;
    }

    .service-card p {
        font-size: 0.875rem;
    }
}
