/* Reset de estilos e importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.site-header {
    background-color: #242424;
    color: #fff;
    padding: 10px 0;
}

.header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logotipo {
    height: 50px;
}

.site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-nav ul {
    list-style-type: none;
    display: flex;
}

.site-nav ul li {
    margin: 0 10px;
}

.site-nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    background-color: #2c2c2c;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.site-nav ul li a:hover {
    background-color: #1e1e1e;
}

/* Forma de Contato */
.rede {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contato__titulo {
    font-size: 2rem;
}

.contact-option {
    display: flex;
    justify-content: center;
    margin: 15px 15px;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilos específicos para cada botão */
.whatsapp-contact .contact-button {
    background-color: #25D366;
}

.whatsapp-contact .contact-button:hover {
    background-color: #075e54;
}

.instagram-contact .contact-button {
    background-color: #f13171;
}

.instagram-contact .contact-button:hover {
    background-color: rgb(224, 26, 43);
}

/* Caixa de Pergunta */
.contact {
    padding: 60px 0;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Footer */
.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-inner {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        order: -1; /* Move a logo para cima do menu */
        margin-bottom: 10px;
    }

    .site-nav {
        display: flex;
        flex-direction: row; /* Alterado para row */
        align-items: center;
        width: 100%;
        justify-content: center; /* Centraliza o menu horizontalmente */
    }

    .site-nav ul {
        display: flex;
        flex-direction: row; /* Alterado para row */
        width: auto;
        align-items: center;
    }

    .site-nav ul li {
        margin: 0 5px; /* Ajustado para margens menores */
    }

    .site-nav ul li a {
        padding: 8px 12px;
        font-size: 14px;
    }

    .contact-form,
    .rede {
        padding: 20px;
    }

    .contact-button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}

